
.container {
    font-family: 'Poppins', sans-serif;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.formulario-login {
    width: 38%;
    height: min-content;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.formulario-login form {
    font-size: 16px;
}

.formulario-login form .form-group {
    margin-bottom: 12px;
}

.formulario-login form input[type="submit"] {
    font-size: 17px;
    margin-top: 15px;
}

/*efecto hover sobre boton*/
.formulario-login form input[type="submit"]:hover {
    background: #FEDC66;
    color: #000;
}

a {
    text-decoration: none;
    color: #64B6E7;
}

.span-btn {
    font-size: 17px;
}